*{
  margin: 0;
  padding: 0;
  font-family: sans-serif;
  box-sizing: border-box;
}
.header{
  min-height: 50vh;
  width: 100%;
  background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(img/banner2.png);
  background-position: center;
  background-size: cover;
  position: relative;
}
nav{
  display: flex;
  padding: 2% 6%;
  justify-content: space-between;
  align-items: center;
}
.navbar-logo{
  width: 120px;
  margin-left: 40px;
  padding-top: 5px;
}
.sign{
	float: right;
	line-height: 60px;
	margin-right: 40px;
}
.sign a{
	color: hsl(0, 0%, 100%);
	font-weight: bold;
	text-decoration: none;
}

.sign a:hover{
	color: #4690C8; /* blue */
	border-color: #4690C8; /* blue */
}
.text-box{
  width: 90%;
  color: #fff;
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}
.text-box h1{
  font-size: 62px;
}
.text-box p{
  margin: 10px 0 40px;
  font-size: 14px;
  color: #fff;
}
/* /1 */

/* 4 */
@-webkit-keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}


@keyframes zoomin {
  from {transform: scale(1, 1);}
  to {transform: scale(1.5, 1.5);}
}
/* /4 */


/* 6 */
@media screen and (max-width: 520px){
	
	.sign{
		margin-right: 20px;
	}
	.sign a{
		font-size: 12px;
	}
}
/* /6 */
.subHeader{
    height: 50vh;
    width: 100%;
    background-image: linear-gradient(rgba(4,9,30,0.7),rgba(4,9,30,0.7)),url(banner2.png);
    background-position: center;
    background-size: cover;
    text-align: center;
    color: #fff;
}
.subHeader h1{
    margin-top: 80px;
    font-size: 50px;
    
}
.subHeader p{
    text-align: center;
    padding-top: 40px;
    font-size: 20px ;
    color: #fff;
    margin-bottom: 30px;
}
/*------------- End Sub Header-------------*/

/*----------- START Connect    -----------*/
.location{
    width: 88%;
    margin: auto;
    padding: 30px 0;
}
.location iframe{
    width: 100%;
}
.contactUs{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background:#4690C8;
    padding: 0;
    margin: 0;
}
.contactUs::before{
    content: "";
    display: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 100%;
    background: yellow;
}

/*----------- New form --------------*/
.newForm{
    min-height: 80vh;
    width: 100%;
    background: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .container{
    width: 85%;
    background: #c8e8e9;
    border-radius: 6px;
    padding: 20px 60px 30px 40px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  }
  .container .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #afafb6;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #5029bc;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: #555;
  }
  .container .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #3e2093;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    font-size: 16px;
    background: #F0F1F8;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #3e2093;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: #5029bc;
  }
  
  @media (max-width: 950px) {
    .container{
      width: 90%;
      padding: 30px 40px 40px 35px ;
    }
    .container .content .right-side{
     width: 75%;
     margin-left: 55px;
  }
  }
  @media (max-width: 820px) {
    .container{
      margin: 40px 0;
      height: 100%;
    }
    .container .content{
      flex-direction: column-reverse;
    }
   .container .content .left-side{
     width: 100%;
     flex-direction: row;
     margin-top: 40px;
     justify-content: center;
     flex-wrap: wrap;
   }
   .container .content .left-side::before{
     display: none;
   }
   .container .content .right-side{
     width: 100%;
     margin-left: 0;
   }
  }
  


/*----------- START CTA -----------*/
.cta{
    margin: 100PX auto;
    width: 80%;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),uRL(img/banner2.png);
    background-position: center;
    background-size: cover;
    border-radius: 10px;
    text-align: center;
    padding: 100px 0;
}
.cta h1{
    color:#fff;
    margin-bottom: 40px;
    padding: 0;
}
.hero-btn{
    display: inline-block;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    padding: 12px 34px;
    font-size: 13px;
    background: transparent;
    position: relative;
    cursor: pointer;
}
.hero-btn:hover{
    border: 1px solid #4690C8;
    background: #4690C8;
    transition: 1s;
}
@media(max-width: 700px){
    .cta h1{
        font-size: 24px;
    }
}
/*----------- END CTA -----------*/

/*----------- START Footer -----------*/
.rowTwo{
    display: flex;
    justify-content:space-between;
}
.footer-col {
    width: 60%;
    margin: auto;
    text-align: center;
}
.footer-col img{
	width: 350px;
}
.footer-col h4{
    text-align: center;
    font-weight: 600;
    margin: 10px 0;
}
.footer-col ul li{
    list-style: none;
    display: list-item;
    position: relative; 
}
.footer-col ul li a{
    color: #777;
    text-decoration: none;
    font-size: 13px;
}
.footer-col ul li::after{
    content:'';
    width: 0%;
    height: 2px;
    background: #4690C8;
    display: block;
    margin: auto;
    transition: 0.5s;
}
.footer-col ul li:hover::after{
    width: 100%;
}
.footer-col .details{
    text-align: center;
}
.footerCol{
    background: #4690C8;
    text-align: center;
}
.footerCol p{
    color: #fff;
    font-size: 13px;
}
@media(max-width: 700px){
    .rowTwo{
        flex-direction: column;
    }
}
/*----------- END Footer -----------*/























































































/*----------- START Connect -----------*/
.location{
    width: 88%;
    margin: auto;
    padding: 30px 0;
}
.location iframe{
    width: 100%;
}
.contactUs{
    width: 80%;
    margin:auto;
}
.contactUs-col{
    flex-basis: 48%;
    margin-bottom: 30px;
}
.contactUs-col div{
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}
.contactUs-col div .fa{
    font-size: 28px;
    color: #4690C8;
    margin: 10px;
    margin-right: 30px;
}
.contactUs-col div p{
    padding: 0;
}
.contactUs-col div h5{
    font-size: 20px;
    margin-bottom: 5px;
    color: #555;
    font-weight: 400;
}
.contactUs-col input, .contactUs-col textarea{
    width: 100%;
    padding: 15px;
    margin-bottom: 17px;
    outline: none;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.red-btn{
    border: 1px solid #4690C8;
    background: transparent;
    color: #4690C8;
}
.red-btn:hover{
    color: #fff;
}